<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', {title: 'TOG:GJ-SS | Enter URL' }) %>
</head>

<body>
    <header>
        <%- include('includes/header'); %>
    </header>
    <div class="content-container">
        <div class="padding-content"></div>
            <div class="content">
                <h2> Welcome to TOG:GJ Summon Statistics! </h2>

                <h3> Enter your summon history URL below: </h3>
                <form >
                    <div class="input-form">
                        <div class="input-field">
                            <input type="text" name="url" />
                        </div>
                        <div class="button-container">
                            <button class="button-get-results">
                                Get Your Summon Statistics
                            </button>
                        </div>
                    </div>
                    <p class="warning">Note: After enter URL at field above, it would cut to your account id string.</p>
                </form>
                <h2> How to use:</h2>
                <p>Go to the in-game summon page, and click on the summon history, as shown below:</p>
                <img src="/images/getSummonURL.png" alt="Click on summon history on the in-game summon page." style="width:800px;height:450px;">
                <p>
                    It should load a page which looks like this. Copy the URL and paste into the textbox,
                    and click the button.
                </p>
                <img src="/images/copySummonsURL.png" alt="Copy the resulting URL into the textbox here." style="width:800px;height:450px;">

            </div>
        <div class="padding-content"></div>
    </div>
    <footer>
        <%- include('includes/footer'); %>
    </footer>
    <script>
        let input = document.querySelector('input[name="url"]');
        let form = document.forms[0];
        input.addEventListener("change", validate)
        form.addEventListener("submit", sendData)

        function validate() {
            // Remove leading/trailing white spaces
            var inputValue = input.value.trim(); 

            //Check string for user id in it
            const re = inputValue.match(/(MTA.{8}=?)|(M.{10}=?)/gm) || false
            if(inputValue.length<12) return
            if (!re[0]) {
                alert('Please enter a valid summon history URL');
            }
            input.value = re[0] || inputValue
            // Continue with form submission if validation passes
        }
        function sendData(event) {
            event.preventDefault();
            window.location.href ='/statistic/'+ input.value
        }
    </script>
</body>
</html>   